<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otto.sdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".OttoCashSDK">
        <activity
            android:name=".ui.activities.payment.HistoryActivitySDK"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.activities.tac.TACOttocashAndMitraActivitySDK" />
        <activity android:name=".ui.activities.tac.TACMitraActivitySDK" />
        <activity
            android:name=".ui.activities.SdkActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.login.PinLoginActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.dashboard.DashboardActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.CheckOutSuccessActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PinActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PinCheckOutActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.ReviewCheckoutActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.RegistrationSuccessActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.OtpActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.login.OtpLoginActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.SetPinActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.RegistrationActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.activation.ActivationSuccessActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.activation.ActivationActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PaymentFailedActivitySDK"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".ui.activities.payment.PaymentSuccessActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".ui.activities.topup.TopUpActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PaymentActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.qr.PayWithQr"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".ui.activities.account.login.LoginActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".ui.activities.account.activation.ActivationBlockedActivitySDK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.tac.TACOttoCashActivitySDK"
            android:screenOrientation="portrait" />
    </application>

</manifest>