<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otto.sdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".OttoCashSdk">
        <activity
            android:name=".view.activities.SdkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.login.PinLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.CheckOutSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.PinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.PinCheckOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.ReviewCheckoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.registration.RegistrationSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.registration.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.login.OtpLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.registration.SetPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.registration.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.activation.ActivationSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.activation.ActivationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.PaymentFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.PaymentSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.topup.TopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.qr.PayWithQr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.account.activation.ActivationBlockedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.tac.TACOttoCashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.payment.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.tac.TACOttocashAndMitraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.tac.TACMitraActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>