<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otto.sdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".OttoCashSdk">
        <activity
            android:name=".ui.activities.payment.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SdkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.activation.PinLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.dashboard.DashboardSDKActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.CheckOutSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PinPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.ReviewCheckoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.RegistrationSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.OtpRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.activation.OtpLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.SetPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.registration.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.activation.ActivationSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.activation.ActivationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.topup.TopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PayWithQr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.account.activation.ActivationBlockedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PaymentSaldoMinusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.tac.TACOttoCashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.tac.TACOttocashAndMitraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.tac.TACMitraActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>